/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'walsheim';
  src: url("../fonts/gt-walsheim-web.eot");
  src: url("../fonts/gt-walsheim-web.otf") format("opentype");
  src: url("../fonts/gt-walsheim-web.ttf") format("truetype"); }
@font-face {
  font-family: 'larish-alte';
  src: url("../fonts/larishalte-semibold-webfont.woff");
  src: url("../fonts/larishalte-semibold-webfont.woff2") format("woff2"); }
body {
  width: 100%;
  height: 100%;
  font-family: "walsheim", sans-serif;
  font-size: 100%;
  background-color: #112222;
  text-align: center;
  color: #FFF; }

header, section, footer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

h1, h3, h4 {
  font-family: larish-alte, serif; }

.blurb {
  max-width: 500px; }

h1 {
  font-size: 11vh;
  color: #9B12FE;
  line-height: 1.8em; }

h2 {
  position: absolute;
  top: 3.5em;
  font-size: 3vh;
  line-height: 20vh;
  margin: 0 auto;
  width: 100%; }

h3 {
  font-size: 4em;
  line-height: 1.2em; }

h4 {
  font-size: 2em;
  margin-bottom: .5em;
  line-height: 1.3em; }

p, li {
  font-size: 1.5em;
  line-height: 1.4em; }

header {
  justify-content: top; }

.title {
  position: relative;
  width: 100%;
  padding-bottom: 4em; }

.intro {
  background-color: #FFF;
  background-image: url(../img/hand-raised.jpg);
  background-size: cover;
  background-position: center;
  color: #9B12FE; }

.intro-stat {
  padding: 2em;
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 450px;
  border-radius: .3em; }

.donut-chart-svg {
  transform: rotate(-100deg);
  animation: donutrotate 600ms ease forwards; }

.circle_animation {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  -webkit-animation: volunteer 600ms ease-in forwards;
  animation: volunteer 600ms ease forwards; }

@-webkit-keyframes volunteer {
  to {
    stroke-dashoffset: 345; } }
@keyframes volunteer {
  to {
    stroke-dashoffset: 345; } }
@keyframes donutrotate {
  to {
    transform: rotate(-90deg); } }
.chart-info {
  padding: 1em 0;
  margin-left: 1em;
  color: #5A00FF;
  text-align: left; }

.chart-description {
  font-size: .9em;
  margin-bottom: 2em; }

.chart-button {
  font-size: .9em;
  padding: .5em;
  border: 1px solid #5A00FF;
  border-radius: .3em;
  cursor: pointer; }

.examples {
  background-color: #5A00FF; }

.examples-blurb {
  width: 80%;
  max-width: 800px;
  text-align: left; }

.examples-heading {
  color: #FF00FF;
  margin-bottom: 2em; }

.examples-list {
  font-size: .8em;
  column-count: 2;
  column-gap: 2em; }

.examples-item {
  margin-bottom: 2em; }

.examples-keyword {
  color: #FF00FF; }

.why-intro {
  background-color: #FFF;
  min-height: 0;
  height: 50vh;
  color: #9B12FE; }

.why-illustrations {
  flex-direction: row;
  align-content: stretch;
  align-items: stretch; }

.why-legos, .why-dollhouse {
  flex: 1; }

.why-legos {
  background-color: #5A00FF; }

.why-dollhouse {
  background-color: #FF00FF; }

.why-outro {
  background-color: #9B12FE;
  color: #FFF;
  min-height: 0;
  height: 50vh; }

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: none;
  display: block;
  position: absolute; }

.seize-reasons {
  margin-top: 4em;
  max-width: 750px;
  background-color: yellow; }

.seize-reason-container {
  display: block;
  float: left;
  padding: 4em;
  width: 50%;
  text-align: left; }

.seize-reason {
  display: inline;
  font-size: 1.2em;
  line-height: 1.6em;
  color: #FFF;
  border-bottom: 1px solid #5A00FF; }

.seize-reason-good {
  border-bottom-color: #FF00FF; }

.good-time {
  background-color: #9B12FE; }

.flowchart {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: 6em; }

.flowchart-cell {
  line-height: 1.3em;
  padding: 1em;
  font-size: 1.2em;
  border: 2px solid #FFF;
  flex: 2; }

.flowchart-arrow {
  background-color: #FFF;
  height: 2px;
  flex: 1; }

/*# sourceMappingURL=style.css.map */
