@import 'reset';
@import 'config';

// Global

body {
    width: 100%;
    height: 100%;
    font-family: $text-font;
    font-size: 100%;
    background-color: $dark;
    text-align: center;
    color: $white;
}

header, section, footer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1, h3, h4 {
    font-family: $display-font;
}

.blurb {
    max-width: 500px;
}

h1 {
    font-size: 11vh;
    color: $violet;
    line-height: 1.8em;    
}

h2 {
    position: absolute;
    top: 3.5em;
    font-size: 3vh;
    line-height: 20vh;
    margin: 0 auto;
    width: 100%;
}

h3 {
    font-size: 4em;
    line-height: 1.2em;
}

h4 {
    font-size: 2em;
    margin-bottom: .5em;
    line-height: 1.3em;
}

p, li {
    font-size: 1.5em;
    line-height: 1.4em;
}

// Title

header {
    justify-content: top; 
}

.title {
    position: relative;
    width: 100%;
    padding-bottom: 4em;
}

// Intro

.intro {
    background-color: $white;
    background-image: url(../img/hand-raised.jpg);
    background-size: cover;
    background-position: center;
    color: $violet;
}

.intro-stat {
//    background-color: $white;
    padding: 2em;
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 450px;
    border-radius: .3em;
}

.donut-chart-svg {
    transform: rotate(-100deg);
    animation: donutrotate 600ms ease forwards;
}

.circle_animation {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
     -webkit-animation: volunteer 600ms ease-in forwards;
    animation: volunteer 600ms ease forwards;
}

@-webkit-keyframes volunteer {
  to {
    stroke-dashoffset: 345;
  }
}

@keyframes volunteer {
  to {
    stroke-dashoffset: 345;
  }
}

@keyframes donutrotate {
  to {
    transform: rotate(-90deg);
  }
}

.chart-info {
    padding: 1em 0;
    margin-left: 1em;
    color: $cobalt;
    text-align: left;
}

.chart-description {
    font-size: .9em;
    margin-bottom: 2em;
}

.chart-button {
    font-size: .9em;
    padding: .5em;
    border: 1px solid $cobalt;
    border-radius: .3em;
    cursor: pointer;
}

// Examples

.examples {
    background-color: $cobalt;
}

.examples-blurb {
    width: 80%;
    max-width: 800px;
    text-align: left;
}

.examples-heading {
    color: $pink;
    margin-bottom: 2em;
}

.examples-list {
    font-size: .8em;
    column-count: 2;
    column-gap: 2em;
}

.examples-item {
    margin-bottom: 2em;
}

.examples-keyword {
    color: $pink;
}

// Why does this happen?

.why-intro {
    background-color: $white;
    min-height: 0;
    height: 50vh;
    color: $violet;
}

.why-illustrations {
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
}

.why-legos, .why-dollhouse {
    flex: 1;
}

.why-legos {
    background-color: $cobalt;
}

.why-dollhouse {
    background-color: $pink;
}

.why-outro {
    background-color: $violet;
    color: $white;
    min-height: 0;
    height: 50vh;
}

// Why are you seizing this moment?

.ball {
  width: 20px;
  height: 20px; 
  border-radius: 50%;
  background-color: none;
  display: block;
  position: absolute;
}

.seize-reasons {
    margin-top: 4em;
    max-width: 750px;
    backround-color: yellow;
}

.seize-reason-container {
    display: block;
    float: left;
    padding: 4em;
    width: 50%;
    text-align: left;
}

.seize-reason {
    display: inline;
    font-size: 1.2em;
    line-height: 1.6em;
    color: $white;
    border-bottom: 1px solid $cobalt;
}

.seize-reason-good {
    border-bottom-color: $pink;
}

// Good time

.good-time {
    background-color: $violet;
}

.flowchart {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 6em;
}

.flowchart-cell {
    line-height: 1.3em;
    padding: 1em;
    font-size: 1.2em;    
    border: 2px solid $white;
//    margin: 2em;
    flex: 2;
}

.flowchart-arrow {
    background-color: $white;
    height: 2px;
    flex: 1;
}