@import 'reset';
@import 'config';

// Global

body {
    width: 100%;
    height: 100%;
    font-family: $text-font;
    font-size: 100%;
    background-color: $dark;
    text-align: center;
    color: $white;
}

header, section, footer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

h1, h3, h4 {
    font-family: $display-font;
}

.blurb {
    max-width: 500px;
}

h1 {
    font-size: 11vh;
    color: $violet;
    line-height: 1.8em;    
}

h2 {
    position: absolute;
    top: 3.5em;
    font-size: 3vh;
    line-height: 20vh;
    margin: 0 auto;
    width: 100%;
}

h3 {
    font-size: 4em;
    line-height: 1.2em;
}

h4 {
    font-size: 2em;
    margin-bottom: .5em;
    line-height: 1.3em;
}

p, li {
    font-size: 1.5em;
    line-height: 1.4em;
}

.credit {
    position: fixed;
    bottom: 1em;
    right: 1em;
    padding: .5em;
    background-color: rgba(0, 0, 0, .2);
    border-radius: .2em;
    color: $white;
    text-decoration: none;
    font-size: .8em;
    opacity: .8;
    transition: transform 200ms ease, opacity 200ms ease;
}

.credit:hover {
    opacity: 1;   
}

.hidden {
    opacity: 0;
    transform: translateY(2em);
    transition: transform 200ms ease, opacity 200ms ease;
}

.fadeInBlock {
    opacity:0;
    display: block;
}

// Title

header {
    justify-content: top; 
}

.title {
    position: relative;
    width: 100%;
    padding-bottom: 4em;
}

// Intro

.intro {
    background-color: $white;
    background-image: url(../img/hand-raised.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: $violet;
    position: relative;
}

// Counter Widget

.counter-widget {
    position: absolute;
    min-width: 600px;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: .3em;
    z-index: 999;
    padding: 6em;
    box-shadow: 0 0 3em rgba(0,0,0,.2);
    transform: translate(-50%, -50%);
}

.dim-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 998;
}

.counter-controls {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.counter-button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: $white;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
     -webkit-transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:          transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.counter-button:hover {
    transform: scale(1.1, 1.1);
}

.counter-button:active {
    transform: scale(.5, .5);
}

.man .counter-button {
    background-color: $cobalt;
}

.not-man .counter-button {
    background-color: $pink;
}

.counter-chart {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.circles-text {
    display: none;
}

.man-count, .non-man-count {
    margin-top: 1em;
}

.close-x {
  stroke: #999;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

.counter-close {
    width: 20px;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    cursor: pointer;
}

.counter-reset {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    color: #999;
    cursor: pointer;
}

.intro-stat {
//    background-color: $white;
    padding: 2em;
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 450px;
    border-radius: .3em;
}

.donut-chart-svg {
    transform: rotate(-100deg);
    animation: donutrotate 600ms ease forwards;
}

.circle_animation {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
     -webkit-animation: volunteer 600ms ease-in forwards;
    animation: volunteer 600ms ease forwards;
}

@-webkit-keyframes volunteer {
  to {
    stroke-dashoffset: 320;
  }
}

@keyframes volunteer {
  to {
    stroke-dashoffset: 320;
  }
}

@keyframes donutrotate {
  to {
    transform: rotate(-90deg);
  }
}

.chart-info {
    padding: 1em 0;
    margin-left: 1em;
    color: $cobalt;
    text-align: left;
}

.chart-description {
    font-size: .9em;
    margin-bottom: 2em;
}

.chart-button {
    font-size: .9em;
    padding: .5em;
    border: 1px solid $cobalt;
    border-radius: .3em;
    cursor: pointer;
    transition: color 200ms ease, border 200ms ease;
}

.chart-button:hover {
    border-color: $pink;
    color: $pink;
}

// Examples

.examples {
    background-color: $cobalt;
}

.examples-blurb {
    width: 80%;
    max-width: 800px;
    text-align: left;
}

.examples-heading {
    color: $pink;
    margin-bottom: 2em;
}

.examples-list {
    font-size: .8em;
    column-count: 2;
    column-gap: 2em;
}

.examples-item {
    margin-bottom: 2em;
}

.examples-keyword {
    color: $pink;
}

// Why does this happen?

.why-intro {
    background-color: $white;
    min-height: 0;
    height: 100vh;
    color: $violet;
    background-image: url('../img/legos.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.why-illustrations {
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
}

.why-legos, .why-dollhouse {
    flex: 1;
    background-repeat: no-repeat;
    background-size: 90%;
}

.why-legos {
    background-color: $dark;
    background-image: url('../img/socialization-masc.svg');
    background-position: center left;
}

.why-dollhouse {
    background-color: $pink;
    background-image: url('../img/socialization-femme.svg');
    background-position: center right;
}

.why-outro {
    background-color: $violet;
    color: $white;
    min-height: 0;
    height: 100vh;
}

// Why are you seizing this moment?
.seize {
    position: relative;
    overflow: hidden;
    height: 100vh;
}


.ball {
  width: 20px;
  height: 20px; 
  border-radius: 50%;
  background-color: none;
  display: block;
  position: absolute;
}

.seize-reasons {
    margin-top: 4em;
    max-width: 750px;
}

.seize-reason-container {
    display: block;
    float: left;
    padding: 4em;
    width: 50%;
    text-align: left;
}

.seize-reason {
    display: inline;
    font-size: 1.2em;
    line-height: 1.6em;
    color: $white;
    border-bottom: 1px solid $cobalt;
    cursor: url(../img/zip-cursor.png), auto;
}

.seize-reason-good {
    border-bottom-color: $pink;
    cursor: url(../img/hug-cursor.png), auto;
}

// Good time

.good-time {
    background-color: $violet;
}

.flowchart {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 6em;
}

.flowchart-cell {
    line-height: 1.3em;
    padding: 1em;
    font-size: 1.2em;    
    border: 2px solid $white;
//    margin: 2em;
    flex: 2;
}

.flowchart-arrow {
    background-color: $white;
    height: 2px;
    flex: 1;
}